.header {
  width: 80%;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  text-align: center;
}

.field {
  width: 80%;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  height: 500px;

}

.scoreboard {
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  border: 5px solid black;
}

